/* Google Font Url  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');

/* Reset Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
}

/* Variable  */
:root{
    --primary-font:'Montserrat', sans-serif;;
    --secondary-font:'Open Sans', sans-serif;
    --primary-color:#ff573d;
    --secondary-color:#374a8a;
    --p-color:#707070;
    --text-color:#242424;
    --bg-color:#2a3869;
    --white-color:#ffff;
    --transition-ani:0.3s ease-in-out;
}

/* Default Styles Here */
img{
    width: 100%;
}
body{
    font-family: var(--secondary-font);
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--primary-font);
}
.sec_p{
    padding: 5rem 0;
}


.nav-link{
    color: var(--text-color) !important;
    font-family: var(--primary-font) !important;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    margin-right: 1rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    transition: var(--transition-ani);
    -webkit-transition: var(--transition-ani);
    -moz-transition: var(--transition-ani);
    -ms-transition: var(--transition-ani);
    -o-transition: var(--transition-ani);
}
.nav-link.active{
    color: var(--primary-color) !important;
}

.nav-link:hover{
    color: var(--primary-color) !important;
}

.social i{
    color: var(--text-color);
    font-size: 1rem;
    margin-right: 0.7rem;
    cursor: pointer;
    transition: var(--transition-ani);
}
.social i:hover{
    color: var(--primary-color);
}
.title{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 500;
}
.desc{
    color: #707070;
    font-size: 1rem;
    font-weight: 400;
}
.app_btn, .transparent{
    padding: 0.9rem 1.8rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-family: var(--primary-font);
    border-radius: 4px;
    border: none;
    outline: none;
    transition: var(--transition-ani);
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-transition: var(--transition-ani);
    -moz-transition: var(--transition-ani);
    -ms-transition: var(--transition-ani);
    -o-transition: var(--transition-ani);
}
.app_btn:hover{
    background-color: #b43f31;
    color: var(--white-color);
}
.transparent{
    background-color: var(--white-color);
    color: var(--text-color);
}
.transparent:hover{
    background-color: #b4b5b9;
    color: var(--text-color);
}
.sm_card i{
    font-size: 3rem;
    color: var(--secondary-color);
    display: block;
    margin-bottom: 1rem;
}
.sm_card h5{
    font-size: 1rem;
    font-weight: 600;
}
/* Bootstrap Over Write Class Here  */
.navbar{
    padding: 1.3em 0px;
}
.accordion-item{
    border: none;
    margin-top: 1rem;
    background-color:transparent;
}
.accordion-button{
    background-color: #212a49;
    color: var(--white-color);
}
.accordion-button::after{
    background-image: url('https://cdn-icons.flaticon.com/png/512/5611/premium/5611992.png?token=exp=1645308661~hmac=ca627efe2d0f4443a004cfb18a11159f');
}

.accordion-body .desc{
    color: #919499;
}

.carousel-indicators {
    bottom: -80px;
}

/* Header Start Here */

/* Header Ends Here */
/* Home Banner Start Here */
.home{
    background-image: url('../images/hero-bg17.jpg');
    background-size: cover;
    background-position: center;
}
.home .container .row{
    height: 100%;
}
.home_content .title{
    color: var(--white-color);
}
.home_content .desc{
    color: #bfbfbf;
}
.home_content .app_btn{
    margin-right: 1em;
}
.home_img img{
    width: 80%;
}
/* Home Banner Ends Here */
/* Features Section Start Here */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fetures_content{
    width: 770px;
}
.middle_img img{
    width: 70%;
}

/* Features Section Ends Here */
/* Faq Section Start Here */
.faq{
    background-color: var(--secondary-color);
    overflow: hidden;
}
.faq_main {
    padding: 5rem;
}
.faq_main .title{
    color: var(--white-color);
    font-weight: 700;
}


/* Faq Section Ends Here */
/* COMMUNICATE Section Start Here */
.comunication_content span{
    font-weight: 700;
    color: var(--text-color);
    font-family: var(--primary-font)
}
.comunication_content .title{
    color: var(--bg-color);
    font-weight: 600;
}
/* COMMUNICATE Section Ends Here */

/* Service Section Start Here */
.service{
    background-color: #f6f6f6;
}
.m_img img{
    width: 70%;
}
/* Service Section Ends Here */
/* Google Play Store Start Here */
.google_pay{
    background-image: linear-gradient(#22222262, #2222225d), url('../images/hero-bg41.jpg');
    background-size: cover;
}
.google_pay .center{
    height: 40vh;
}
.google_pay .title{
    color: var(--white-color);
    font-size: 4rem;
}
.google_pay .desc{
    color: var(--white-color);
}
.fetures_content i{
    font-size: 3rem;
    color: var(--white-color);
}
/* Google Play Store Ends Here */
/* App Testing Section Start Here */

/* App Testing Section Ends Here */
/* Count Project Start Here */
.count{
    background-image: linear-gradient(#33333390, #33333387), url('../images//hero-bg25.jpg');
    color: var(--white-color);
}
.project_count{
    line-height: 35px;
}
.project_count i{
    font-size: 2rem;
}
.project_count h3{
    margin-bottom: 0px;
    font-size: 2.3rem;
}
/* Count Project Ends Here */
/* Download App Section Start Here */
.download .container .row {
    height: 100%;
}
.download_content{
    line-height: 20px;
}
.download_content .down{
    font-size: 1.5rem;
    color: var(--secondary-color);
    font-weight: 600;
}
.download_content h1{
    font-size: 3rem;
    color: var(--secondary-color);
    font-weight: 600;
}
.don_img img{
    width: 170px;
    cursor: pointer;
}
/* Download App Section Ends Here */
/* Testimonial Section Start Here */
.testimonial{
    background-color: var(--secondary-color);
}
.testimonia_main img {
    width: 100px;
    border-radius: 100%;
    border: 3px solid var(--primary-color);
}

.testimonia_main {
    width: 550px;
}

.testimonia_main p {
    color: #ddd;
    margin-top: 1rem;
}

.testimonia_main h3 {
    font-size: 1.4rem;
    color: #ffff;
}
/* Testimonial Section Ends Here */
/* Priceing Section Start Here */
.price{
    background-color: #f7f7f7;
}
.price_main {
    background: #fff;
    padding: 1rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.active .bg_content{
    background: var(--primary-color);
}


.bg_content {
    background: var(--secondary-color);
    padding: 1rem 0px;
    color: #fff;
    border-radius: 4px;
}

.bg_content p {
    font-size: 0.8rem;
    margin-bottom: 0px;
    font-weight: 600;
}

.bg_content h3 {
    margin-bottom: 5px;
}

.price_title {
    margin-top: 1.5rem;
}

.price_title p {
    margin-bottom: 0px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--secondary-color);
}

.price_title span {
    color: #ddd;
    font-size: 0.9rem;
}

.price_main ul {
    margin-bottom: 0px;
    padding-left: 0px;
}

.price_main ul li {
    border-top: 1px solid #ddd;
    margin-top: 1em;
    padding-top: 1em;
    color: #666;
}

.price_main .app_btn {
    padding: 0.7rem 1.5rem;
    border-radius: 50px;
    margin-top: 1.6rem;
    background-color: var(--secondary-color);
}
.active .app_btn{
    background: var(--primary-color);
}
/* Priceing Section Ends Here */
/* Supur Offer Start Here */
.super_offer{
    background-image: url('../images/hero-bg28.jpg');
    background-position: center;
    background-size: cover;
}
.img_box{
    gap: 2rem;
    cursor: pointer;
}
.super_offer p{
    color: var(--white-color);
}
.super_offer .title{
    color: var(--white-color);
}
/* Supur Offer Ends Here */
/* Footer Section Start Here */
.footer{
    padding: 50px;
}
.logo{
    width: 170px;
}
/* Footer Section Ends Here */



/* Responsive Styles Here */

@media (max-width:520px){
    .home_content {
        text-align: center;
        padding-top: 90px;
    }
    
    .home_content .app_btn, .transparent {
        width: 100%;
        margin-bottom: 1.5rem;
    }
    
    .title {
        font-size: 1.5rem;
    }
    
    .download_content h1 {
        font-size: 1.5rem;
    }
    
    .download_content .down {
        font-size: 0.9rem;
    }
}